body {
  padding-top: 70px;
  background-color: #8B95A0;
}

.caption, .book-price {
  text-align: center;
}

.glyphicon.glyphicon-shopping-cart {
	color: #888;
}

.glyphicon.glyphicon-shopping-cart.in-cart {
	color: #eee;
    background-color: #3399ff;
}

