body {
	padding-top: 70px;
	background-color: #8B95A0;
}

.bookowner-hidden {
    display: none;	
}

.caption, .book-price {
	text-align: center;
}

a.thumbnail {
	text-decoration: none !important;
}

a#send-email {
	text-align: center;
}

.glyphicon.glyphicon-shopping-cart {
	color: #888;
}

.glyphicon.glyphicon-shopping-cart.in-cart {
	color: #eee;
	background-color: #3399ff;
}