<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Book Share Point</title>
{% include "templates/include/bootstrap-css.html" %}
{% include "templates/include/sweetalert.html" %}
<link rel="stylesheet" type="text/css" href="/static/css/pinterest.css">
<link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Book Share Point</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">

				</ul>

				<ul class="nav navbar-nav navbar-right">
					{% block navbar_right %}
					{% include "templates/forms/nav_login_form.html" %}
                    {% endblock %}
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>

	<div class="container">

		<div class="jumbotron">
			<h1>My Cart</h1>
			<h3>Total: {{total_cost}}</h3>
			<br>
			<div id="columns">
			{% for book in books_query %}
				<div class="pin">
		              <a class="thumbnail"> 
		                <img src="{{book.image_url}}" alt="Book Cover">
		              </a>
		              <a class="thumbnail center" id="send-email">
		              <span class="glyphicon glyphicon-envelope"></span>
		              &nbsp;<span style="color: #000;">Contact seller</span>

		               <div class="contact-email hidden">{{ book.get_seller_email() }}</div>
		               <div class="hidden image-url">{{ book.image_url }}</div>
		               <!-- <div class="hidden isbn">{{ book.isbn }}</div>  -->
		               <div class="hidden title">{{ book.title }}</div>
		               <!-- <div class="hidden author">{{ book.author }}</div>  -->
		               <div class="hidden price">{{ book.price }}</div>
		               <!--  <div class="hidden condition">{{ book.get_condition_string() }}</div> -->
		               <!-- <div class="hidden dept-abbrev">{{ book.dept}}</div>  -->
		           </a>
	           </div>
			{% endfor %}
			
				
			</div>
            
			
		</div>

	</div>

    {% include "templates/include/bootstrap_jquery.html" %}
	<script src="/static/js/holder.js"></script>
	<script src="/static/js/main.js"></script>
</body>
</html>