<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Book Share Point</title>
{% include "templates/include/bootstrap-css.html" %}
<link rel="stylesheet" type="text/css" href="/static/css/pinterest.css">
<link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Book Share Point</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
				{% block navbar_left %}
				    {% if person %}
					<li>
					   <a id="add-book" data-toggle="modal" data-target="#insert-book-option-modal" href="#">Sell a Book</a>
					</li>
					{% endif %}
				{% endblock %}
				</ul>

				<ul class="nav navbar-nav navbar-right">
					{% block navbar_right %}
					{% include "templates/forms/nav_login_form.html" %}
                    {% endblock %}
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>

	<div class="container">

		<div class="jumbotron">
			<h1>My Books</h1>
			<br>
			<div id="columns" >
				{% for book in books_query %}
			
			
				<div class="pin">
					<a class="thumbnail ownbooks" data-toggle="modal" data-target="#edit-book-modal"> 
						<img src="{{book.image_url}}" alt="Book Cover">
						<p class="caption">{{book.title}}</p>
						<p class="book-price">{{book.get_price()}}</p>
						<div class="hidden entity-key">{{book.key.urlsafe()}}</div>
						<div class="hidden image-url">{{book.image_url}}</div>
						<div class="hidden isbn">{{book.isbn}}</div>
						<div class="hidden title">{{book.title}}</div>
						<div class="hidden author">{{book.author}}</div>
						<div class="hidden price">{{book.price}}</div>
						<div class="hidden condition">{{book.condition_id}}</div>
						<div class="hidden dept-abbrev">{{book.dept}}</div>
					</a>
				</div>
				{% endfor %}
			</div>
			

				
				
			</div>
			
		</div>

	</div>


	{% include "templates/modals/insert-book-option-modal.html" %}
	{% include "templates/modals/delete-book-modal.html" %}
	{% include "templates/modals/edit-book-modal.html" %}
	
    {% include "templates/include/bootstrap_jquery.html" %}
	<script src="/static/js/holder.js"></script>
	<script src="/static/js/main.js"></script>
	<script src="/static/js/booksharepoint.js"></script>
</body>
</html>