<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>Book Share Point</title>
<!-- Bootstrap -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/pinterest.css">
<link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
		  {% block navbar_header %}
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> 
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Book Share Point</a>
			</div>
			{% endblock %}
			
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
				{% block navbar_left %}
				    {% if person %}
					<li>
					   <a id="add-book" data-toggle="modal" data-target="#insert-book-option-modal" href="#">Sell a Book</a>
					</li>
					{% endif %}
				{% endblock %}
				</ul>
				
				<ul class="nav navbar-nav navbar-right">
				
					<li><a id="toggle-edit" href="#">Edit</a></li>
					{% block navbar_right %}
                    {% include "templates/nav_login_form.html" %}
                    {% endblock %}
             
				</ul>
				
				<form class="navbar-form navbar-right">
                    <div class="input-group">
                        <input id="nav-search-input" type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button id="nav-search-btn" class="btn btn-success" type="submit"
                                style="border-top-right-radius: 4px; border-bottom-right-radius: 4px;">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </form>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>

	<!-- TODO: Use Jinja to populate departments -->
	<div class="container">
		<div class="col-lg-2 col-md-3 col-xs-4 sidebar-offcanvas" id="sidebar"
			role="navigation">
			<div class="list-group">
				<a class="list-group-item active">All Departments</a>
				{% for dept in dept_query %}
				<a class="list-group-item">{{ dept.abbrev }}</a>
				{% endfor %}
				
				<a class="list-group-item">AS</a>
				<a class="list-group-item">BE</a>
				<a class="list-group-item">BIO</a>
				<a class="list-group-item">CE</a>
				<a class="list-group-item">CHE</a>
				<a class="list-group-item">CHEM</a>
				<a class="list-group-item">CLSK</a>
				<a class="list-group-item">CSSE</a>
				<a class="list-group-item">ECE</a>
				<a class="list-group-item">EM</a>
				<a class="list-group-item">EMGT</a>
				<a class="list-group-item">EP</a>
				<a class="list-group-item">ES</a>
				<a class="list-group-item">GE</a>
				<a class="list-group-item">GRAD</a>
				<a class="list-group-item">GS</a>
				<a class="list-group-item">IA</a>
				<a class="list-group-item">JP</a>
				<a class="list-group-item">MA</a>
				<a class="list-group-item">ME</a>
				<a class="list-group-item">MS</a>
				<a class="list-group-item">OE</a>
				<a class="list-group-item">PH</a>
				<a class="list-group-item">REF</a>
				<a class="list-group-item">RH</a>
				<a class="list-group-item">ROBO</a>
				<a class="list-group-item">SP</a>
				<a class="list-group-item">SV</a>
			</div>
		</div>

		<!-- TODO: Change the query -->
		<div id="columns">
			{% for book in books_query %}
			
			<div class="pin">
				<div class="hidden pull-right edit-actions">
					<button data-toggle="modal" type="button"
						data-target="#insert-book-modal"
						class="edit-book btn btn-success btn-xs">
						<span class="glyphicon glyphicon-pencil"></span>
						<div class="hidden entity-key">{{book.key.urlsafe()}}</div>
						<div class="hidden image-url">{{book.image_url}}</div>
						<div class="hidden caption">{{book.price}}</div>
					</button>
					<button data-toggle="modal" type="button"
						data-target="#delete-book-modal"
						class="delete-book btn btn-danger btn-xs">
						<span class="glyphicon glyphicon-remove"></span>
						<div class="hidden entity-key">{{book.key.urlsafe()}}</div>
					</button>
				</div>
				<img src="{{book.image_url}}" alt="Book Cover">
				<p class="caption">{{book.get_price()}}</p>
			</div>
			{% endfor %}
		</div>
	</div>

	{% include "templates/insert-book-option-modal.html" %}

	<!-- Modal -->
	<!-- TODO: Delete this. Is not necessary -->
	<div class="modal fade" id="delete-book-modal" tabindex="-1"
		role="dialog" aria-labelledby="Remove Book" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title">Remove Book</h4>
				</div>
				<form action="/deletebook" method="POST" class="form-horizontal"
					role="form">
					<input name="entity_key" type="text" class="hidden">
					<div class="modal-body">
						<div>Are you sure you wish to remove this Book?</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<button type="submit" class="btn btn-danger">Delete Book</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="/static/js/main.js"></script>
	<script src="/static/js/booksharepoint.js"></script>
</body>
</html>